RewriteEngine On
RewriteBase /api/

# إعادة توجيه الطلبات إلى index.php إذا لم يكن الملف أو المجلد موجودًا
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]